$base-color: #FF2995;
$base-color-darken: darken($base-color, 20);

$responsive-medium: 850px;
$responsive-small: 600px;

/* --------------------
    BASE STYLES
---------------------*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #D1D7DD;
    min-height: 100vh;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.visible {
    display: block !important;
}

/* --------------------
    FILE UPLOADER
---------------------*/
.file-uploader {
    min-height: 500px;
    width: 800px;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    background: #F5F8FB;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media (max-width: $responsive-medium) {
        min-height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        margin: 0;
        transform: translateX(0);
    }

    .header {
        height: 65px;
        line-height: 65px;
        text-align: center;
        vertical-align: middle;
        color: #fefefe;
        background: #333333;
        box-shadow: 0 1px rgba(0, 0, 0, .1);
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        padding: 30px;

        @media (max-width: $responsive-medium) {
            display: block;
            padding: 15px;
        }
    }
}

/* --------------------
    MODE CONTAINER
---------------------*/
.mode {
    min-height: 400px;
    min-width: 350px;
    margin-right: 30px;
    border: 1px solid #ddd;
    position: relative;

    @media (max-width: $responsive-medium) {
        min-height: 200px;
        margin: 0 0 15px 0;
    }
}

/* --------------------
    MODE - UPLOADER
---------------------*/
.uploader {
    display: none;

    .image {
        width: 150px;
        fill: #ddd;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        // filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));

        @media (max-width: $responsive-medium) {
            width: 100px;
            top: 5%;
        }
    }
    .text {
        color: #bbb;
        width: 60%;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }
    .button {
        width: 60%;
        max-width: 300px;
        padding: 13px 20px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        color: #fff;
        text-align: center;
        font-size: .9rem;
        background: $base-color;
        user-select: none;

        @media (max-width: $responsive-medium) {
            top: 70%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #upload-file {
        display: block;
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

/* --------------------
    MODE - COMPRESSING
---------------------*/
.compressing {
    display: none;

    .title {
        font-weight: 300;
        color: #444;
        text-align: center;
    }
    .cube-grid {
        width: 75px;
        height: 75px;
        margin: 125px auto 5px;

        @media (max-width: $responsive-medium) {
            margin: 40px auto 0;
        }
    
        .cube {
            width: 30%;
            height: 30%;
            float: left;
            background: $base-color;
            animation: cube-compression 2s infinite; 
        }
        .cube7 { 
            animation-delay: 0s; 
        }
        .cube4, .cube8 {
            animation-delay: 0.2s; 
        }
        .cube1, .cube5, .cube9 {
            animation-delay: 0.4s;
        }
        .cube2, .cube6 {
            animation-delay: 0.6s;
        }
        .cube3 {
            animation-delay: 0.8s;
        }
    }
}

// ANIMATIONS
@keyframes cube-compression {
	0%, 100% { 
        transform: scale(0.25);
        background-color: $base-color-darken;
    }
	40%, 80% {
        transform: scale(1.0);
        background-color: $base-color;
    }
}

/* --------------------
    MODE - UPLOADING
---------------------*/
.uploading {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .container {
        position: absolute;
        text-align: center;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $responsive-medium) {
            top:20%;
        }

        .title {
            font-size: 40px;
            font-weight: 100;
            color: $base-color;
        }
        .percentage {
            font-size: 60px;
            margin-top: -10px;
            color: #444444;
        }
        .progress-bar {
            background: $base-color;
            border: none;
            height: 1px;
            width: 0;
        }
    }
}

/* --------------------
    MODE - SANITIZING
---------------------*/
$size: 32px;
$duration: 800ms;

.sanitizing {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    .title {
        margin-top: 2px;
        font-weight: 300;
        color: #444;
    }

    .boxes {
        height: calc(#{$size} * 2);
        width: calc(#{$size}* 3);
        position: relative;
        transform-style: preserve-3d;
        transform-origin: 50% 50%;
        margin-top: calc(#{$size} * 1.5 * -1);
        transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    }

    .box {
        width: $size;
        height: $size;
        position: absolute;
        transform-style: preserve-3d;
        &:nth-child(1) {
            transform: translate(100%, 0);
            animation: box1-sanitize $duration linear infinite;
        }
        &:nth-child(2) {
            transform: translate(0, 100%);
            animation: box2-sanitize $duration linear infinite;
        }
        &:nth-child(3) {
            transform: translate(100%, 100%);
            animation: box3-sanitize $duration linear infinite;
        }
        &:nth-child(4) {
            transform: translate(200%, 0);
            animation: box4-sanitize $duration linear infinite;
        }
        & > div {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $base-color;
            
            &:nth-child(1) {
                transform: rotateY(0deg) rotateX(0deg) translateZ(calc(#{$size} / 2));
            }
            &:nth-child(2) {
                background: darken($base-color, 15%);
                transform: rotateY(90deg) rotateX(0deg) translateZ(calc(#{$size} / 2));
            }
            &:nth-child(3) {
                background: darken($base-color, 10%);
                transform: rotateY(0deg) rotateX(-90deg) translateZ(calc(#{$size} / 2));
            }
            &:nth-child(4) {
                background: #DBE3F4;
                transform: rotateY(0deg) rotateX(0deg) translateZ(calc(#{$size} * 3 * -1));
            }
        }
    }
}

// ANIMATIONS
@keyframes box1-sanitize {
    0%, 50% { transform: translate(100%, 0); }
    100% { transform: translate(200%, 0); }
}

@keyframes box2-sanitize {
    0% { transform: translate(0, 100%); }
    50% { transform: translate(0, 0); }
    100% { transform: translate(100%, 0); }
}

@keyframes box3-sanitize {
    0%, 50% { transform: translate(100%, 100%); }
    100% { transform: translate(0, 100%); }
}

@keyframes box4-sanitize {
    0% { transform: translate(200%, 0); }
    50% { transform: translate(200%, 100%); }
    100% { transform: translate(100%, 100%); }
}

/* --------------------
    MODE - DOWNLOADER
---------------------*/
.downloader {
    display: none;
    text-align: center;

    .title {
        font-weight: 300;
        color: #444;
        margin-top: 80px;
        margin-bottom: 5px;

        @media (max-width: $responsive-medium) {
            margin-top: 25px;
        }
    }

    .description {
        font-weight: 400;
        font-size: 16px;
    }
    .value {
        font-weight: 300;
        font-size: 14px;
        font-style: italic;
    }

    .button {
        display: block;
        max-width: 250px;
        margin: 12px auto;
        padding: 13px 5px;
        color: #fff;
        text-align: center;
        font-size: .9rem;
        background: $base-color;
        user-select: none;
        text-decoration: none;
    }
}

/* --------------------
    SAVED FILES
---------------------*/
.saved-files {
    flex: 1 0 0;
    padding: 5px;

    > .title {
        font-weight: 300;
        font-size: .9rem;
        margin-bottom: 10px;
        text-decoration: underline;
    }

    .file-list {
        max-height: 400px;
        overflow-y: auto;
        padding: 5px 5px 5px 0;

        @media (max-width: $responsive-medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-height: none;
        }

        .file {
            margin-bottom: 15px;
            padding: 13px 15px;
            background: #fff;
            display: flex;
            align-items: center;
            font-size: .8rem;
            box-shadow: 3px 4px 3px rgba(0,0,0,.1);
            opacity: 1;
            transition: 
                box-shadow .2s ease-in,
                transform .4s ease-in,
                opacity .4s ease-in;

            @media (max-width: $responsive-medium) {
                min-width: 325px;
                &:nth-child(odd) {
                    margin-right: 10px;       
                }
            }

            &.hidden {
                transform: translateY(10px);
                opacity: 0;
            }
            &:hover {
                box-shadow: 3px 5px 4px rgba(0,0,0,.15);                    
            }

            & > * {
                display: inline-block;
            }
            .icon {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 10px;
                background: $base-color;
                position: relative;

                svg {
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: white;
                }
            }
            .details {
                flex-grow: 1;
                color: #777;

                .size {
                    font-size: .6rem;
                }
            }
            .download {
                position: relative;

                a {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: .65rem;
                    color: blue;
                    text-transform: uppercase;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}



/* --------------------
    ALERTS
---------------------*/
.alerts {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 100;

    .notification {
        width: 300px;
        color: #fff;
        font-size: 14px;
        padding: 20px 30px;
        opacity: 0;
        visibility: hidden;
        border-radius: 4px;
        transform: translateY(35%);
        transition: all .5s ease;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &.is-danger,
        &.is-success {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        &.is-danger {
            background-color: #FF3860;
        }
        &.is-success {
            background-color: #23D160;
        }
    }
  }